.holder {
  display: inline-block;
  height: 24px;
  width: 24px;
  margin: 3px;
  border-radius: 2px;
  background-color: #F36E6B;
}
/* 
.forward .holder {
  -webkit-animation: line 3s linear infinite;
          animation: line 3s linear infinite;
} */
/* .forward .holder:nth-child(0) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.forward .holder:nth-child(1) {
  -webkit-animation-delay: 0.1875s;
          animation-delay: 0.1875s;
}
.forward .holder:nth-child(2) {
  -webkit-animation-delay: 0.375s;
          animation-delay: 0.375s;
}
.forward .holder:nth-child(3) {
  -webkit-animation-delay: 0.5625s;
          animation-delay: 0.5625s;
}
.forward .holder:nth-child(4) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}
.forward .holder:nth-child(5) {
  -webkit-animation-delay: 0.9375s;
          animation-delay: 0.9375s;
}
.forward .holder:nth-child(6) {
  -webkit-animation-delay: 1.125s;
          animation-delay: 1.125s;
}
.forward .holder:nth-child(7) {
  -webkit-animation-delay: 1.3125s;
          animation-delay: 1.3125s;
}
.forward .holder:nth-child(8) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.forward .holder:nth-child(9) {
  -webkit-animation-delay: 1.6875s;
          animation-delay: 1.6875s;
}
.forward .holder:nth-child(10) {
  -webkit-animation-delay: 1.875s;
          animation-delay: 1.875s;
}
.forward .holder:nth-child(11) {
  -webkit-animation-delay: 2.0625s;
          animation-delay: 2.0625s;
}
.forward .holder:nth-child(12) {
  -webkit-animation-delay: 2.25s;
          animation-delay: 2.25s;
}
.forward .holder:nth-child(13) {
  -webkit-animation-delay: 2.4375s;
          animation-delay: 2.4375s;
}
.forward .holder:nth-child(14) {
  -webkit-animation-delay: 2.625s;
          animation-delay: 2.625s;
}
.forward .holder:nth-child(15) {
  -webkit-animation-delay: 2.8125s;
          animation-delay: 2.8125s;
}
.forward .holder:nth-child(16) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
} */

/* @keyframes line {
  0% {
    background: #FCD7D6;
  }
  30% {
    background: #F36E6B;
  }
} */


/* FOR THE DIAL */

/* .dial {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 120px;
  background-image: linear-gradient(#CDC4BD, #CCC3BC, #D1C4BC);
  position: absolute;
  top: 20px;
  left: 35px;
  box-shadow: 0 1px 1px 1.25px #2F2822, 0 -3px 3px #5E554E inset, 0 -5px 2px #8E857C inset, 0 0.75px 0.5px 0.25px #E1D8D1 inset, 0 -5.5px 0.5px #E1D8D1 inset, 0 27px 15px -13px rgba(27, 14, 6, 0.35), 0 1px 1px 1.5px #D7CEC7;
}

.dial .inner {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: red;
  position: absolute;
  top: 6px;
  left: 40px;
  background-image: linear-gradient(rgba(149, 140, 133, 1) 5%, rgba(149, 140, 133, 0) 40%, transparent 60%, #D6C9C3 80%, #E8D9D4, #E9D7D3), linear-gradient(#C7BEB7, #D1C6C0);
  background-size: 100% 100%, 100% 100%;
  background-position: 0 0, 0 0;
  box-shadow: 0 -6px 2px -4px #E9DAD5 inset, 0 5px 4px -2px #675A52 inset;
} */